.contain {
  margin: 20px;
  width: calc(100% - 40px);
}
#c {
  box-shadow: black 5px 2px 2px;
  border: 1px solid black;
  width: 960px;
  height: calc(~'100% - 200px');
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
